<html>
 <head><title>registor</title></head>
<body>
    <h2>Signup</h2>
<br>
<form method="post">
    <lable>Username<input type="text" name="username" value="{{username}}">
    {{user_error}}</lable>
<br>
    <lable>Password<input type="password" name="password" value="">
    {{pass_error}}</lable>
<br>
    <lable>Verify Password<input type="password" name="verify" value="">
    {{verify_error}}</lable>
<br>
    <lable>Email(optional)<input type="text" name="email" value="{{email}}">
    {{email_error}}</lable>
<br>
    <input type="submit">
</form>
</body>
</html>
 
